<% if session[:admin_id] %>
	<%= link_to 'Logout', '/admins/logout', class: "logout-link" %>
	<h1 class="heading">New Genre</h1>

	<%= render 'form', genre: @genre %>

	<table style="width: 100%; padding-top: 20px">
		<tr>
			<td style="width: 50%; text-align: left;">
				<%= link_to 'All Genres', genres_path, class: "view-link" %>				
			</td>
			<td style="width: 50%; text-align: right;">
				<%= link_to 'Home', {controller: "admins", action: "welcome", id: session[:admin_id]}, class: "back-link"  %>	
			</td>
		</tr>
	</table>
<% else %>
	<p class="error"> You are not logged in as admin. Unauthorized access </p>
	<% unless session[:user_id] %>
		<%= link_to 'Login as Admin', '/admins/login' %>
	<% else %>
		<%= link_to 'Go back to User homepage', controller: "users", action: "welcome", id: session[:user_id] %>
	<% end %>
<% end %> 	
