<% if session[:admin_id] %>
  <%= link_to 'Logout', '/admins/logout', class: "logout-link" %>
  <h1 class="heading">Listing admins</h1>

  <%if notice %>
  <p class="notice"><%= notice %></p>
  <% end %>


  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @admins.each do |admin| %>
        <tr>
          <td id="show-name"><%= admin.name %></td>
          <td><%= link_to 'Show', admin, class: "tr-view-link"  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <div class="link-container">
      <%= link_to "Home", {controller: "admins", action: "welcome", id: session[:admin_id]}, class: "routing-link"  %>
  </div>

<% else %>
  <p class="error"> You are not logged in as admin. Unauthorized access </p>
  <% unless session[:user_id] %>
    <%= link_to 'Login as Admin', '/admins/login' %><br/><br/>
    <%= link_to 'Login as User', '/users/login' %>
  <% else %>
    <%= link_to 'Go back to User homepage', controller: "users", action: "welcome", id: session[:user_id] %>
  <% end %>
<% end %>   