<%= form_with(model: subgenre, local: true) do |form| %>
  <% if subgenre.errors.any? %>
    <div class="error_explanation">
      <h2><%= pluralize(subgenre.errors.count, "error") %> prohibited this subgenre from being saved:</h2>

      <ul>
      <% subgenre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <div class="field">
      <%= form.label :name, "SUBGENRE NAME", class: 'w3-text-green label-tag', id: "name-create-genre" %>
      <%= form.text_field :name, id: :subgenre_name, class: "w3-input w3-border w3-sand textTag", placeholder: "Enter subgenre name here" %>
    </div>

    <div class="actions btn-container">
      <%= form.submit "Submit", {:class => "w3-btn w3-brown submit-btn"} %>
    </div>
  </fieldset>
<% end %>
